<header class="header">
  <nav
    class="navbar sticky-top navbar-expand-lg navbar-expand-sm navbar-light bg-white py-3 shadow-sm"
  >
    <div class="container">
      <img
        class="navbar-brand navbar-image"
        src="../../../assets/logo-mm.svg"
      />
      <a class="navbar-brand" routerLink="/">
        <strong class="h6 mb-0 font-weight-bold text-capitalize"
          >matrix moestuin</strong
        ></a
      >

      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="spacer"></div>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              routerLink="/"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link header-links"
              *ngIf="!UserSignedIn()"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/dashboard"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link header-links"
              *ngIf="UserSignedIn()"
              >Dashboard</a
            >
          </li>
          <li class="nav-item" *ngIf="!UserSignedIn()">
            <a
              routerLink="/signin"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link header-links"
              >Sign in</a
            >
          </li>
          <li class="nav-item" *ngIf="!UserSignedIn()">
            <a
              routerLink="/signup"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link header-links"
              >Sign up</a
            >
          </li>
          <li class="nav-item" *ngIf="UserSignedIn()">
            <a
              (click)="SignOut()"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link header-links"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
