<nav class="navbar" role="banner">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img width="40" alt="MatrixMoestuin Logo" src="../assets/logo-mm.svg" />
  </a>
  <span>Matrix Moestuin</span>

  <ul class="ul-navbar">
    <li>
      <a
        routerLink="/signin"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sign in</a
      >
    </li>
    <li>
      <a
        routerLink="/signup"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sign up</a
      >
    </li>
  </ul>
</nav>
