<section class="card-section">
  <app-breadcrumb></app-breadcrumb>

  <div class="card-wrapper">
    <div class="spacer"></div>
    <h3>Tips</h3>
    <div class="card mb-3">
      <img
        src="../../../assets/card-banner2.png"
        class="card-image card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Plant 1</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex
          optio iste aperiam ea? Nisi pariatur quam eum eius quod repellendus.
          Illo cupiditate dolorum laborum doloremque, eum deserunt officiis
          facilis?
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <img
        src="../../../assets/card-banner.png"
        class="card-image card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Plant 2</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex
          optio iste aperiam ea? Nisi pariatur quam eum eius quod repellendus.
          Illo cupiditate dolorum laborum doloremque, eum deserunt officiis
          facilis?
        </p>
      </div>
    </div>
  </div>
</section>
