.content {
  margin: 1%;
}

.user-wrapper {
  padding-right: 12px;
}

.user-wrapper h6 {
  color: white;
  margin-bottom: 0;
}

.branding-div {
  text-align: center;
  background: url(../../../assets/forest2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 5%;

  box-shadow: inset 0px -40px 12px -26px #eee;
}

.nav-sticky {
  padding-top: 0px !important;
}

.dash-logo {
  width: 50px;
}

.dash-company {
  font-size: large;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.spacer {
  display: flex;
  flex: 1;
}

.ul-nav {
  margin-top: 5%;
}

.ul-nav li a {
  color: gray !important;
}

.ul-nav li a:hover {
  color: #333 !important;
}

.icon-spacing {
  padding: 5px;
}

.nav-sideways {
  position: fixed;
  top: 0px;
  height: 100%;
  background-color: #eee !important;
  padding: 0;
  z-index: 10;
  background-image: url("../../../assets/firebase.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.signout-container {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.signout-wrapper {
  justify-content: flex-end;
  display: flex;
}

.signout-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0%;
  border-style: none;
}

.signout-anchor:hover {
  color: black;
}

.navbar {
  background: #198754 !important;
}

.main-dash {
  padding: 0 !important;
}

.dash-wrapper {
  padding: 10 !important;
}

.themes-button {
  background-color: transparent !important;
  border-style: none;
}

.navbar-toggler {
  border-style: none;
}

.m-d {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.m-d.expand-list {
  margin: 0;
  padding: 0;
}
.m-d.expand-list > li {
  list-style-type: none;
  padding: 25px 0;
  position: relative;
  /*         max-width: 80%; */
}
.m-d label[class^="tab"]:hover {
  cursor: pointer;
}
.m-d input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.m-d input[class^="tab"] {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
.m-d input[class^="tab"]:hover {
  cursor: pointer;
}
.m-d label[class^="tab"] {
  font-weight: bold;
}

.head-spacing {
  margin-top: -10% !important;
}

.m-d .content {
  height: auto;
  max-height: 0;
  max-width: 300px;
  /*        background: yellow;*/
  overflow: hidden;
  transform: translateY(20px);
  transition: all 180ms ease-in-out 0ms;
}
.m-d li[data-md-content="100"] input[class^="tab"]:checked ~ .content {
  max-height: 100px;
  transition: all 150ms ease-in-out 0ms;
}
.m-d li[data-md-content="200"] input[class^="tab"]:checked ~ .content {
  max-height: 200px;
  transition: all 200ms ease-in-out 0ms;
}
.m-d li[data-md-content="300"] input[class^="tab"]:checked ~ .content {
  max-height: 300px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="400"] input[class^="tab"]:checked ~ .content {
  max-height: 400px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="500"] input[class^="tab"]:checked ~ .content {
  max-height: 500px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="600"] input[class^="tab"]:checked ~ .content {
  max-height: 600px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="700"] input[class^="tab"]:checked ~ .content {
  max-height: 700px;
  transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="800"] input[class^="tab"]:checked ~ .content {
  max-height: 800px;
  transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="900"] input[class^="tab"]:checked ~ .content {
  max-height: 900px;
  transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="1000"] input[class^="tab"]:checked ~ .content {
  max-height: 1000px;
  transition: all 350ms ease-in-out 0ms;
}
.m-d li[data-md-content=""] input[class^="tab"]:checked ~ .content {
  max-height: 1000px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .content {
  margin-bottom: 20px;
}

.m-d .open-close-icon {
  display: inline-block;
  position: absolute;
  right: 20px;
  transform: translatey(2px);
}
.m-d .open-close-icon .fa-icon {
  position: absolute;
  left: 0;
}
.m-d .open-close-icon .fa-minus {
  transform: rotate(180deg);
  transition: transform 150ms ease-in-out 0ms;
  transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .open-close-icon .fa-minus {
  transform: rotate(0deg);
  transition: transform 150ms ease-in-out 0ms;
}
.m-d .open-close-icon .fa-plus {
  opacity: 1;
  transform: rotate(180deg);
  transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .open-close-icon .fa-plus {
  opacity: 0;
  transform: rotate(0deg);
  transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}
