<section class="signup-section h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <div class="logo-wrapper text-center">
              <img src="../../../assets/logo-mm.svg" />
              Sign up
            </div>

            <hr class="my-4" />
            <form [formGroup]="signUpForm">
              <div class="form-outline mb-4">
                <label class="form-label" for="username-input"
                  >Gebruikersnaam</label
                >
                <input
                  formControlName="UserName"
                  type="username"
                  id="username-input"
                  class="form-control form-control-lg"
                  name="username"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="email-input">Email</label>
                <input
                  formControlName="Email"
                  type="email"
                  id="email-input"
                  class="form-control form-control-lg"
                  name="email"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="password-input"
                  >Wachtwoord</label
                >
                <input
                  formControlName="Password"
                  type="password"
                  id="password-input"
                  class="form-control form-control-lg"
                  name="password"
                />
              </div>

              <button
                (click)="SignUp()"
                class="signup-button btn btn-success btn-lg btn-block"
                type="submit"
              >
                Sign up
              </button>

              <hr class="my-4" />

              <div class="d-flex justify-content-center mb-4">
                Heb je al een account?&nbsp;
                <a class="text-muted" routerLink="/signin">Log in :)</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
