<div class="content">
  <div class="oops-container">
    <h1 class="oops-heading">Oops</h1>
    <h2>404 - This page does not exist.</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus,
      voluptate, ab ex facere fugit corrupti sed deleniti vitae a, autem eum
      velit asperiores provident officiis labore soluta? Eveniet, debitis
      accusamus.
    </p>

    <button routerLink="/" class="return-button btn btn-success">
      Return to {{ buttonText }}
    </button>
  </div>
</div>
