.signin-section {
  background-image: url(../../../assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrapper {
  font-size: 30px;
}

.signin-button {
  width: 100%;
}
